@import "tailwindcss";

* {
  font-family: 'DM Sans', sans-serif;
}

.font-display {
  font-family: 'DM Serif Display', serif;
}

body {
  background-color: #f7f5f0;
  color: #1a1a2e;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #f0ede6;
}
::-webkit-scrollbar-thumb {
  background: #c5c0b5;
  border-radius: 3px;
}
